*.iml
*.swp
*.ipr
*.iws
*.jpg
.idea/
*.exe
*.tar.gz
.tmp/
nohup.out
*.log
*.logs
logs/
output.txt
__pycache__
debug-*.json
pkg/
# wps and office
~$*.docx
~$*.doc
~$*.xls
~$*.xlsx
~$*.ppt
~$*.pptx
.~lock*
# wps office
.ideaDataSources/
dataSources/
*.zip
*.tar
# c,cpp,go库文件.
*.so
*.h
*.dll
*.lib
*.s

#cpp or c error file.
core

